body{
    margin : 25px;
    font-family: Arial, sans-serif;
    background-color: #ddd;
    height: 100vh;
}

.card {
    user-select: none;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card:hover {
    background-color: #7c7a7a;
}

.card.clicked {
    background-color: lightgreen;
}

.card.correct{
    background-color: lightgreen;
    cursor: auto;
}

.card.incorrect{
    background-color: #e3391a;
    cursor: auto;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

#container-learning{
    text-align: center;
}


.card-grid img {
    -webkit-user-drag: none;
    width: 160px;
    height: 160px;
}

.card-grid {
    display: grid;
    grid: repeat(3, 200px) / repeat(3, 200px);
    justify-content: center;
}

.warningMsg {
    color: #e3391a;
    font-weight: bold;
    font-size: 25px;
}

.speechAvailable {
    color: #46af46;
    font-weight: lighter;
}

.speechFrame {
    border: 1px solid black;
    padding: 5px;
}

.voice-configuration {
    border: solid black 1px;
    border-radius: 10px;
    background-color: darkgrey;
    padding: 5px 20px 20px 20px;
    margin-top : 15px;
}

.voice-configuration label {
    display: inline-block;
    float: left;
    width: 150px;
}

.voice-configuration input {
    width: 300px;
}
.option {
    margin: 15px;
}

#training-button {
    margin-top: 15px;
    font-size: 25px;
}

#micro-container{
    text-align: center;
    margin: 30px;
}

#micro-container img{
    cursor: pointer;
    border: black 2px dashed;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease-in-out;
    vertical-align: middle;
}

#micro-container img:hover{
    background-color: #7c7a7a;
}

#micro-container img.clicked{
    background-color: #01fdb8;
}

#again-container{
    text-align: center;
    margin: 30px;
}

#again-container img{
    cursor: pointer;
    border: black 2px dashed;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease-in-out;
    vertical-align: middle;
}

#again-container img:hover{
    background-color: #7c7a7a;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    width: 25%;
    border-radius: 3px;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 10px;
}
.step {
    background-color: #5dfc5d;
    border-bottom: 1px solid green;
}

.step:hover {
    background-color: #019b01;
}

.test {
    background-color: #f6f660;
    border-bottom: 1px solid #8c8c01;
}

.test:hover {
    background-color: #afaf30;
}

