.card {
    user-select: none;
    text-align: center;
    border: 1px solid black;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

#container-learning{
    text-align: center;
}

.container img {
    width: 160px;
    height: 160px;
}

.container {
    justify-content: center;
    display: grid;
    grid: repeat(3, 200px) / repeat(3, 200px);
}

.warningMsg {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.speechAvailable {
    color: green;
    font-weight: lighter;
}

.speechFrame {
    border: 1px solid black;
    padding: 5px;
}